name: E2E

on:
  issue_comment:
    types: [created]
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  echo_hello:
    name: Echo Hello
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "Hello!"
  check_comment:
    name: Check comment trigger
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, 'ci run e2e') }}
    outputs:
      triggered: ${{ steps.check.outputs.triggered }}
    steps:
      - name: Check comment
        id: check
        run: |
          echo "triggered=true" >> $GITHUB_OUTPUT
